<div class="container">
    {{#unless single}}
    <h1 class="mb-5">All diagrams</h1>
    <ul class="list-group">
        {{#each diagrams}}
            <li class="list-group-item">
                {{title}} - <span>{{type}}</span> 
                <a class="float-right" href="/diagram/{{id}}">View</a>
            </li>
        {{/each}}
    </ul>
    {{else}}
    <h1>{{title}}</h1>
    <p class="lead">{{author}}, <span>{{type}}</span></p>
    {{#ifEqual username author}}
        <a class="btn btn-danger" href="/codesnippet/delete/{{id}}" role="button">Delete</a>
        <a class="btn btn-primary" href="/codesnippet/update/{{id}}" role="button">Update</a>
    {{/ifEqual}}
    <pre>
        <textarea class="textArea textarea-code">{{code}}</textarea>
        <button type="button" class="drawBtn">Draw</button>
        <canvas class="myCanvas" width="1920" height="1080"></canvas>
    </pre>
    {{/unless}}
</div>